#########################
# IGNORE OBJECTS        #
#########################
*.o
#########################
#	IGNORE DOXY	#
#########################
Documents/
Implementation/build/ide/


#########################
#	ECLIPSE		#
#########################
.settings/
.cproject


## TEMP IGNORE
*.elf
*.hex
*.lss
*.map
*.srec
