#########################
# IGNORE OBJECTS        #
#########################
*.o
#########################
#	IGNORE DOXY	#
#########################
Documents/


#########################
#	ECLIPSE		#
#########################
.settings/